/.vs
/.obsidian
/Projects/FileEncryption/.vs
/Projects/FileEncryption/FileEncryption
/Projects/FileEncryption/build
/Projects/FileEncryption/Debug
/Projects/FileEncryption/out
/Projects/FileEncryption/vcpkg_installed
/Projects/FileEncryption/x64
/Projects/FileEncryption/FileEncryption.qtvscr
/Projects/FileEncryption/FileEncryption.slnx
/Projects/FileEncryption/FileEncryption.vcxproj
/Projects/FileEncryption/FileEncryption.vcxproj.filters
/Projects/FileEncryption/FileEncryption.vcxproj.user
/Projects/FileEncryption/plain.txt
/Projects/PasswordManager/.vs
/Projects/PasswordManager/out