/.vs
/.obsidian
/Projects/AES-GCM/.vs
/Projects/AES-GCM/AES-GCM
/Projects/AES-GCM/Debug
/Projects/AES-GCM/out
/Projects/AES-GCM/vcpkg_installed
/Projects/AES-GCM/x64
/Projects/AES-GCM/AES-GCM.qtvscr
/Projects/AES-GCM/AES-GCM.slnx
/Projects/AES-GCM/AES-GCM.vcxproj
/Projects/AES-GCM/AES-GCM.vcxproj.filters
/Projects/AES-GCM/AES-GCM.vcxproj.user
/Projects/AES-GCM/plain.txt