name: Build Test

on: [push]

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: 'c82f74667287d3dc386bce81e44964370c91a289'

      - name: Install dependencies
        run: vcpkg install openssl:x64-windows argon2:x64-windows gtest:x64-windows

      - name: Build
        run: |
          cd Projects/AES-GCM
          cmake -B build `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake"
          cmake --build build --config Release

      - name: Test
        run: |
          cd Projects/AES-GCM
          ctest --test-dir build -C Release --output-on-failure
  
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qt6-base-dev libssl-dev libargon2-dev libgtest-dev cppcheck lcov

      - name: Run cppcheck
        run: |
          cppcheck \
            --library=qt \
            --suppress=unknownMacro \
            --enable=warning,style,performance,portability \
            --error-exitcode=1 \
            --suppress=missingIncludeSystem \
            --inline-suppr \
            -I Projects/AES-GCM \
            Projects/AES-GCM/Core \
            Projects/AES-GCM/GUI \
            Projects/AES-GCM/Utils \
            Projects/AES-GCM/Common

      - name: Build with Coverage
        run: |
          cd Projects/AES-GCM
          cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCOVERAGE=ON
          cmake --build build

      - name: Test
        run: |
          cd Projects/AES-GCM
          ctest --test-dir build --output-on-failure

      - name: Generate Coverage Report
        run: |
          cd Projects/AES-GCM
          lcov --capture --directory build --output-file coverage.info --ignore-errors mismatch
          lcov --remove coverage.info '/usr/*' '*/Tests/*' --output-file coverage.info --ignore-errors mismatch,unused
          lcov --list coverage.info

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: Projects/AES-GCM/coverage.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false